.button {
  height: 56px;
  width: 100%;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: $c-white;
  background-color: $c-terra;
  border: 1px solid transparent;
  border-radius: 64px;
  transition: background-color 0.8s;

  @include onipad {
    width: 264px;
  }

  &:hover {
    background-color: #ff7e6c;
  }
}
