.caroussel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 60%;

  @include onDesktop {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 50%;
    top: 120px;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25% 0;
    object-fit: cover;
    border-radius: 0 130px 0 0;
    transform: scale(-1, 1);

    @include onDesktop {
      border-radius: 0 35% 0 0;
    }
  }

  &__title {
    position: absolute;
    top: 200px;
    left: 10%;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 13px;
    line-height: 19.5px;
    color: $c-white;
    letter-spacing: 3px;
    text-transform: uppercase;
    z-index: 3;

    @include onDesktop {
      top: 464px;
      left: 122px;
    }
  }

  &__description {
    position: absolute;
    top: 230px;
    left: 10%;
    width: 220px;
    font-family: $ff-opensans;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.5px;
    color: $c-white;
    z-index: 3;

    @include onDesktop {
      top: 489px;
      left: 122px;
    }
  }
}

